img,
.nav_item,
.img_icon {
  align-self: center;
}

.card,
.banner,
.form_panel {
  display: flex;
  flex-direction: column;
}

.card,
.row {
  margin-top: 1%;
}

.row,
.navitems,
.input_panel,
.banner {
  flex: 1;
}

.navitems,
.row,
.loginlink,
.input_panel {
  display: flex;
  flex-direction: row;
}

.row,
.form_panel {
  margin: auto;
}

.row,
.container,
.banner {
  justify-content: center;
}

.navitems,
.input_panel,
.row,
.details {
  padding: 20px;
}

.details,
.title,
.nav_item {
  font-size: 20px;
}

.title,
.form_panel,
.img_icon {
  text-align: center;
}

.username,
.small_header {
  font: 30px sans-serif;
}

.form_panel,
.nav_item,
.username,
.small_header {
  color: black;
}

.input_panel,
.loginlink {
  justify-content: flex-end;
}

.username,
.input_panel {
  vertical-align: middle;
}

.form_panel,
.img_icon {
  border-radius: 50px;
}

.details {
  color: rgb(97, 64, 128);
}

img {
  width: 60%;
}

.card {
  border: rgb(103, 102, 105) 3px solid;
  margin: 0 5% 1% 5%;
}

.card-img-top {
    width: 75%;
    height: auto;
}

.title {
  background-color: rgb(97, 64, 128);
  color: white;
  margin: 20px;
  padding: 5px;
}

.homepage_links {
  color:  rgb(97, 64, 128);
  padding: 25%;
  font-size: larger;
}

.banner {
  align-items: center;
}

.form_panel {
  padding: 2%;
  box-shadow: 2px 2px 2px 3px #999;
  min-width: 350px;
  width: 80%;
  margin-top: 3%;
}

.navitems {
  justify-content: flex-start;
  justify-self: center;
}

.nav_item {
  margin-left: 15px;
}

.username {
  justify-content: 'flex-end';
  align-self: flex-end;
}

.input_panel {
  align-items: flex-end;
}

.small_header {
  margin: .5cm;
}

.img_icon {
  width: 40px;
  background-color: #0C9;
  color: #FFF;
  box-shadow: 2px 2px 3px #999;  
}
